body {
    background-image: url("img/和紙.jpg");
    font-family: "Sawarabi Mincho";
    width: 98%;
}

h1 {
    font-size: 4vh;
    text-align: center;
}

h3 {
    font-size: 3vh;
    text-align: center;
}

h4 {
    font-size: 2vh;
    text-align: center;
}

.songList {
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.set {
    margin: 3vh;
    width: 20vw;
}

ul {
    list-style: none;
}

li {
    text-align: left;
    font-size: 2vw;
    margin-left: 3%;
}

ul li {
    font-size: 1.3vw;
}
