body {
    background-image: url("img/和紙.jpg");
    font-family: "Sawarabi Mincho";
    font-weight: bold;
    width: 98%;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 5vmin;
}

h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 3vmin;
}

h4 {
    font-size: 12px;
    text-align: center;
}

.songList {
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.set {
    margin-top: 3vmin;
    width: 30vw;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    text-align: left;
    margin-left: 30%;
    font-size: 18px;
}

ul li {
    text-align: left;
    margin-left: 33%;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 1vmin;
}

@media screen and (max-width: 479px) {
    /*ウィンドウ幅が最大479pxまでの場合に適用*/
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 8px;
    }
    ul {
        margin-top: 8px;
    }
    li {
        text-align: left;
        margin-left: 10%;
        font-size: 14px;
    }
    ul li {
        text-align: left;
        margin-left: 12%;
        font-size: 9px;
        font-weight: 700;
        margin-bottom: 1vmin;
    }
}
